<style>
    label {
        color: #008200
    }

    span {
        margin-right: 20px;
    }

    input[type=text] {
        width: 520px;
    }

    input[type=button] {
        margin-top: 10px;
    }

    .admin {
        color: #990000
    }

    .merchant {
        color: #0016b0
    }

    * {
        padding: 0;
        list-style-type: none;
    }

    a, img {
        border: 0;
    }

    /* leftsead */
    #leftsead {
        width: 131px;
        height: 143px;
        position: fixed;
        top: 258px;
        right: 0px;
    }

    #leftsead li {
        width: 131px;
        height: 53px;
    }

    #leftsead li img {
        float: right;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    #leftsead li a {
        height: 49px;
        float: right;
        display: block;
        min-width: 47px;
        max-width: 131px;
    }

    #leftsead li a .shows {
        display: block;
    }

    #leftsead li a .hides {
        margin-right: -166px;
        cursor: pointer;
        cursor: hand;
    }

    #leftsead li a.youhui .hides {
        display: none;
        position: absolute;
        right: 216px;
        top: 2px;
    }
</style>
<script>
    // api接口获取,并有时效性,
    var token = 'QhpYXENcCQRUTRQDVFdcWxtfGwhSUwIBBlUFAFdwEkQXW15VQ0oaRAUSRRFdFA8VHVdAHVRUF1VnEQ5pEgggdmB3ZX5TE19_NTJlMEwDWQFzVFRSMlJ3BwwSW0oXUS15SAFIZE4PfA0IBnsFWBQZFUoRWE0QFxELBEoUVQRDF2pVV1ZRDzlRREZbBVQKBAcDD1ALAElGX1BGEmlVClcKW2ZZRRpbRAoEVVYbVgEbBwQZVAwDUVQJAQVEGhsGQgZUTV1VZwASGg5GUwZXDhsFDxRXChlUVQkCAlwGDEccQUBJXFBMBAJnVRBDDEQLBgQAFFUBFFdXEwAAXAUOXwFTFxUaRVcKA1ZrFxVXFE1pQV5UABsDVFEDAgFRAglVAB4';
    // 双方约定
    var key = 'yh';
    var setData = function (obj) {
        var form = $(obj).parents('form')[0];
        var fd = new FormData(form);
        // FormData 转 普通对象
        var convert_FormData_to_json = function (formData) {
            var objData = {};
            for (var entry of formData.entries()) {
                objData[entry[0]] = entry[1];
            }
            return (objData);
        };
        //排序的函数, 并排除file类
        var objKeySort = function (obj) {
            var newkey = Object.keys(obj).sort();
            var newObj = {};
            for (var i = 0; i < newkey.length; i++) {
                if (obj[newkey[i]] instanceof File)
                    continue;
                newObj[newkey[i]] = obj[newkey[i]];
            }
            return newObj;
        };
        var timestamp = Date.parse(new Date()) / 1000;
//                var timestamp = 1505442608; // 调试
        var data = objKeySort(convert_FormData_to_json(fd));
        data.timestamp = timestamp;
        data.token = token;
        var str = JSON.stringify(data);

        fd.append('timestamp', timestamp);
        fd.append('token', token);
        fd.append('sign', md5(md5(str) + key));
        return fd;
    };

    var makeSign = function (data) {
        //排序的函数
        var objKeySort = function (obj) {
            var newkey = Object.keys(obj).sort();
            var newObj = {};
            for (var i = 0; i < newkey.length; i++) {
                if (obj[newkey[i]] instanceof File)
                    continue;
                newObj[newkey[i]] = obj[newkey[i]];
            }
            return newObj;
        };
        data = objKeySort(data);
        data.timestamp = Date.parse(new Date()) / 1000;
        data.token = token;
        var str = JSON.stringify(data);
//                console.log(str);
//                console.log(md5(str));
//                console.log((md5(str) + key));
//                console.log(md5(md5(str) + key));
        data.sign = md5(md5(str) + key);
        return data;

    };
</script>
<?php $this->includeHtml('../assembly/div1.html'); ?>
<?php echo obj(Apptest\yh\c\Dev\Date::class)->index(); ?>

<!--<div id="leftsead">
    <ul>
        <li>
            <span>当前角色</span>
            <div id="role">未登陆</div>
        </li>
        <li><span>当前用户名</span><div id="username">未登陆<div></li>
    </ul>
</div>leftsead end-->
<div>
    <?php echo '请求接口 : '.$url; ?>
</div>
<input type="text" value="value"/>
<hr>
<label class="merchant">邮箱检测 /user/email get</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <input id="useremail" type="button" value="submit">
    <script>
        $('#useremail').submitData('/user/email', function (re) {
            console.log(re);
        }, 'get');
    </script>
</form>
<hr>
<label class="merchant">商户注册( 邮件发送 ) /user/reg post</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <span>url</span><input type="text" name="url" value="http://前端地址,我要注册#拼接参数="/><br>
    <input id="userreg" type="button" value="submit">
    <script>
        $('#userreg').submitData('/user/reg', function (re) {
            console.log(re);
        }, 'post');
    </script>
</form>
<hr>
<label class="merchant">商户设置密码 (写入数据库) /user/setpasswd post</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <span>token用户邮箱链接中的随机码</span><input type="text" name="token"/><br>
    <input id="usersetpasswd" type="button" value="submit">
    <script>
        $('#usersetpasswd').submitData('/user/setpasswd', function (re) {
            console.log(re);
        }, 'post');
    </script>
</form>
<hr>
<label class="merchant">商户忘记密码( 邮件发送 ) /user/forget post</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <span>url</span><input type="text" name="url" value="http://前端地址,忘记密码#拼接参数="/><br>
    <input id="userforget" type="button" value="submit">
    <script>
        $('#userforget').submitData('/user/forget', function (re) {
            console.log(re);
        }, 'post');
    </script>
</form>
<hr>
<label class="merchant">商户忘记密码 设置密码 /user/resetpasswd post</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <span>token用户邮箱链接中的随机码</span><input type="text" name="token"/><br>
    <input id="userresetpasswd" type="button" value="submit">
    <script>
        $('#userresetpasswd').submitData('/user/resetpasswd', function (re) {
            console.log(re);
        }, 'post');
    </script>
</form>
<hr>
<label class="admin">管理员登入 /admin/login post</label><br><br>
<form action="action">
    <span>用户名</span><input type="text" name="username" value="admin"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <input id="adminlogin" type="button" value="submit">
    <script>
        $('#adminlogin').submitData('/admin/login', function (re) {
            console.log(re);
            token = re.data;
            $('#role').html('管理员');
            console.log('token设置为' + re.data);
        }, 'post');
    </script>
</form>
<hr>
<label class="admin">管理员令牌以旧换新( 重置有效期 ) /admin/token post</label><br><br>
<form action="action">
    <span>用户名</span><input type="text" name="username" value="admin"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <input id="admintoken" type="button" value="submit">
    <script>
        $('#admintoken').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/admin/token'),
                data: data,
                type: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                    token = re.data;
                    console.log('token重新设置为' + re.data);
                }
            });
        });
    </script>
</form>
<hr>
<label class="admin">管理员新增管理员 /admin/reg post</label><br><br>
<form action="action">
    <span>用户名</span><input type="text" name="username" value="admin2"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <input id="adminreg" type="button" value="submit">
    <script>
        $('#adminreg').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/admin/reg'),
                data: data,
                type: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="admin">管理员重置自己密码 /admin/setpasswd put</label><br><br>
<form action="action">
    <span>原密码</span><input type="text" name="oldpasswd" value="123123"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123123"/><br>
    <input id="adminsetpasswd" type="button" value="submit">
    <script>
        $('#adminsetpasswd').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/admin/setpasswd'),
//                        url: 'http://www.gitxt.com/git/php_/admin/setpasswd',
                data: data,
                type: 'put',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
        ;
    </script>
</form>
<hr>
<label class="merchant">商户登入 /user/login post</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <input id="userlogin" type="button" value="submit">
    <script>
        $('#userlogin').submitData('/user/login', function (re) {
            console.log(re);
            token = re.data;
            $('#role').html('商户');
            console.log('token设置为' + re.data);
        }, 'post');
    </script>
</form>
<hr>
<label class="merchant">商户令牌以旧换新( 重置有效期 ) /user/token post</label><br><br>
<form action="action">
    <span>邮箱</span><input type="text" name="email" value="1771033392@qq.com"/><br>
    <span>密码</span><input type="text" name="passwd" value="123123"/><br>
    <input id="usertoken" type="button" value="submit">
    <script>
        $('#usertoken').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/user/token'),
                data: data,
                type: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                    token = re.data;
                    console.log('token重新设置为' + re.data);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户资料新增 /merchant post</label><br><br>
<form action="action">
    <span>商户名称</span><input type="text" name="merchant_name" value="深圳测试公司"/><br>
    <span>商户网址</span><input type="text" name="merchant_website" value="http://www.baidu.com/"/><br>
    <span>网址备案号</span><input type="text" name="merchant_website_site_number" value="京ICP证030173号-1"/><br>
    <span>组织机构代码原件</span><input type="file" name="organization_file"/><br>
    <span>营业执照原件</span><input type="file" name="license_file"/><br>
    <span>营业执照编码</span><input type="text" name="license_code" value="330521000062738"/><br>
    <span>营业执照地址</span><input type="text" name="license_address" value="深圳南山区某街道"/><br>
    <span>营业执照营业范围</span><input type="text" name="license_range"
                                value="计算机软硬件开发销售，计算机、电子、生物、医药、汽车技术领域内的四技服务，生物工程及生物制品研制、开发、销售，整流器生产、开发，计算机网络工程 ，电脑网络软件开发"/><br>
    <span>实际营业范围</span><input type="text" name="business_range" value="计算机软硬件开发销售，计算机、电子、生物、医药、汽车技术领域内的四技服务"/><br>
    <span>实际营业地址</span><input type="text" name="business_address" value="深圳南山区某街道某写字楼18楼"/><br>
    <span>法人姓名</span><input type="text" name="corporation_name" value="法人"/><br>
    <span>法人国籍</span><input type="text" name="corporation_country" value="中国"/><br>
    <span>法人性别</span><select name="corporation_sex">
    <option value="1">男</option>
    <option value="2">女</option>
</select><br>
    <span>法人证件类型</span><select name="corporation_identification_type">
    <option value="1">身份证</option>
    <option value="2">军官证</option>
</select><br>
    <span>法人证件号码</span><input type="text" name="corporation_identification_number" value="123411198212131468"/><br>
    <span>法人证件有效期</span><input type="datetime-local" name="corporation_identification_validity"
                               value="2028-11-11T00:00:00"/><br>
    <span>法人联系方式</span><input type="text" name="corporation_phone" value="15536487596"/><br>
    <span>授权人姓名</span><input type="text" name="authorizer_name" value="授权人"/><br>
    <span>授权人国籍</span><input type="text" name="authorizer_country" value="意大利"/><br>
    <span>授权人性别</span><select name="authorizer_sex">
    <option value="1">男</option>
    <option value="2">女</option>
</select><br>
    <span>授权人证件类型</span><select name="authorizer_identification_type">
    <option value="1">身份证</option>
    <option value="2">军官证</option>
</select><br>
    <span>授权人证件号码</span><input type="text" name="authorizer_identification_number" value="333411198212135552"/><br>
    <span>授权人证件有效期</span><input type="datetime-local" name="authorizer_identification_validity"
                                value="2022-02-01T00:00:00"/><br>
    <span>授权人联系方式</span><input type="text" name="authorizer_phone" value="15536482222"/><br>
    <input id="merchantpost" type="button" value="submit">
    <script>
        $('#merchantpost').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/merchant'),
                data: data,
                type: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户资料修改 /merchant put</label><br><br>
<form action="action">
    <span>商户名称</span><input type="text" name="merchant_name" value="深圳测试公司"/><br>
    <span>商户网址</span><input type="text" name="merchant_website" value="http://www.baidu.com/"/><br>
    <span>网址备案号</span><input type="text" name="merchant_website_site_number" value="京ICP证030173号-1"/><br>
    <span>组织机构代码原件</span><input type="file" name="organization_file"/><br>
    <span>营业执照原件</span><input type="file" name="license_file"/><br>
    <span>营业执照编码</span><input type="text" name="license_code" value="330521000062738"/><br>
    <span>营业执照地址</span><input type="text" name="license_address" value="深圳南山区某街道"/><br>
    <span>营业执照营业范围</span><input type="text" name="license_range"
                                value="计算机软硬件开发销售，计算机、电子、生物、医药、汽车技术领域内的四技服务，生物工程及生物制品研制、开发、销售，整流器生产、开发，计算机网络工程 ，电脑网络软件开发"/><br>
    <span>实际营业范围</span><input type="text" name="business_range" value="计算机软硬件开发销售，计算机、电子、生物、医药、汽车技术领域内的四技服务"/><br>
    <span>实际营业地址</span><input type="text" name="business_address" value="深圳南山区某街道某写字楼18楼"/><br>
    <span>法人姓名</span><input type="text" name="corporation_name" value="法人"/><br>
    <span>法人国籍</span><input type="text" name="corporation_country" value="中国"/><br>
    <span>法人性别</span><select name="corporation_sex">
    <option value="1">男</option>
    <option value="2">女</option>
</select><br>
    <span>法人证件类型</span><select name="corporation_identification_type">
    <option value="1">身份证</option>
    <option value="2">军官证</option>
</select><br>
    <span>法人证件号码</span><input type="text" name="corporation_identification_number" value="123411198212131468"/><br>
    <span>法人证件有效期</span><input type="datetime-local" name="corporation_identification_validity"
                               value="2028-11-11T00:00:00"/><br>
    <span>法人联系方式</span><input type="text" name="corporation_phone" value="15536487596"/><br>
    <span>授权人姓名</span><input type="text" name="authorizer_name" value="授权人"/><br>
    <span>授权人国籍</span><input type="text" name="authorizer_country" value="意大利"/><br>
    <span>授权人性别</span><select name="authorizer_sex">
    <option value="1">男</option>
    <option value="2">女</option>
</select><br>
    <span>授权人证件类型</span><select name="authorizer_identification_type">
    <option value="1">身份证</option>
    <option value="2">军官证</option>
</select><br>
    <span>授权人证件号码</span><input type="text" name="authorizer_identification_number" value="333411198212135552"/><br>
    <span>授权人证件有效期</span><input type="datetime-local" name="authorizer_identification_validity"
                                value="2022-02-01T00:00:00"/><br>
    <span>授权人联系方式</span><input type="text" name="authorizer_phone" value="15536482222"/><br>
    <input id="merchantput" type="button" value="submit">
    <script>
        $('#merchantput').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/merchant'),
                data: data,
                type: 'put',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户资料查看 /merchant get</label><br><br>
<form action="action">
    <input id="merchantget" type="button" value="submit">
    <script>
        $('#merchantget').on('click', function () {
            $.ajax({
                url: $.url('/merchant'),
                data: makeSign({}),
                type: 'get',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户资料删除 /merchant delete</label><br><br>
<form action="action">
    <input id="merchantdelete" type="button" value="submit">
    <script>
        $('#merchantdelete').on('click', function () {
            $.ajax({
                url: $.url('/merchant'),
                data: makeSign({}),
                type: 'delete',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">应用资料新增 /application post</label><br><br>
<form action="action">
    <span>应用名称</span><input type="text" name="application_name" value="应用一"/><br>
    <span>应用logo</span><input type="file" name="application_logo_file"/><br>
    <span>应用描述</span><input type="text" name="describe" value="1应用描述应用描述1"/><br>
    <input id="applicationpost" type="button" value="submit">
    <script>
        $('#applicationpost').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/application'),
                data: data,
                type: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">应用资料修改 /application put</label><br><br>
<form action="action">
    <span>应用ID</span><input type="text" name="id" value="101"/><br>
    <span>应用名称</span><input type="text" name="application_name" value="应用wwww"/><br>
    <span>应用logo</span><input type="file" name="application_logo_file"/><br>
    <span>应用描述</span><input type="text" name="describe" value="2应用描述应用描述2"/><br>
    <input id="applicationput" type="button" value="submit">
    <script>
        $('#applicationput').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/application'),
                data: data,
                type: 'put',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">应用资料查看 /application get</label><br><br>
<form action="action">
    <input id="applicationget" type="button" value="submit">
    <script>
        $('#applicationget').on('click', function () {
            $.ajax({
                url: $.url('/application'),
                data: makeSign({}),
                type: 'get',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">应用资料删除 /application delete</label><br><br>
<form action="action">
    <span>应用ID</span><input type="text" name="id" value="101"/><br>
    <input id="applicationdelete" type="button" value="submit">
    <script>
        $('#applicationdelete').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/application'),
                data: data,
                type: 'delete',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="admin">管理员查看所有商户 /admin/merchant get</label><br><br>
<form action="action">
    <input id="adminmerchantget" type="button" value="submit">
    <script>
        $('#adminmerchantget').on('click', function () {
            $.ajax({
                url: $.url('/admin/merchant'),
                data: makeSign({}),
                type: 'get',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="admin">管理员修改指定id商户的任意内容 /admin/merchant put</label><br><br>
<form action="action">
    <span>商户ID</span><input type="text" name="id" value="100"/><br>
    <span>审核</span><select name="status">
    <option value="2">审核通过</option>
    <option value="3">审核不通过</option>
</select><br>
    <input id="adminmerchantput" type="button" value="submit">
    <script>
        $('#adminmerchantput').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/admin/merchant'),
                data: data,
                type: 'put',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="admin">管理员查看所有用户 /admin/user get</label><br><br>
<form action="action">
    <input id="adminuserget" type="button" value="submit">
    <script>
        $('#adminuserget').on('click', function () {
            $.ajax({
                url: $.url('/admin/user'),
                data: makeSign({}),
                type: 'get',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="admin">管理员修改指定id商户的任意内容 /admin/user put</label><br><br>
<form action="action">
    <span>商户ID</span><input type="text" name="id" value="100"/><br>
    <span>登入权限</span><select name="status">
    <option value="1">启用</option>
    <option value="2">禁用</option>
</select><br>
    <span>支付权限</span><select name="payment">
    <option value="1">启用</option>
    <option value="2">禁用</option>
</select><br>
    <input id="adminuserput" type="button" value="submit">
    <script>
        $('#adminuserput').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/admin/user'),
                data: data,
                type: 'put',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户密钥新增(初始化) /secret post</label><br><br>
<form action="action">
    <input id="secretpost" type="button" value="submit">
    <script>
        $('#secretpost').on('click', function () {
            $.ajax({
                url: $.url('/secret'),
                data: makeSign({}),
                type: 'post',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户密钥修改 /secret put</label><br><br>
<form action="action">
    <span>key</span><input type="text" name="yh_key" value="qwerasdeqwerasdeqwerasdeqwerasde"/><br>
    <span>公钥</span><input type="text" name="public_key"
                          value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCYAMw/HxLwR0E8sVBHivet5o84jFhu58aYvqQzHbVompHOsVYYW2oqS2h6OMFSPdgNsK96bRkNf2LAEhB5t5tsBjqU9r629i5/0u5c9UoY0ymk/FOqyoAnaUDR1Li4QUJaSXq9pnGBMxv5xs3MmpTgoFwv+gskoiQliZj8keOWyQIDAQAB"/><br>
    <span>私钥</span><input type="text" name="private_key"
                          value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAJgAzD8fEvBHQTyxUEeK963mjziMWG7nxpi+pDMdtWiakc6xVhhbaipLaHo4wVI92A2wr3ptGQ1/YsASEHm3m2wGOpT2vrb2Ln/S7lz1ShjTKaT8U6rKgCdpQNHUuLhBQlpJer2mcYEzG/nGzcyalOCgXC/6CySiJCWJmPyR45bJAgMBAAECgYBHFfBvAKBBwIEQ2jeaDbKBIFcQcgoVa81jt5xgz178WXUg/awu3emLeBKXPh2i0YtN87hM/+J8fnt3KbuMwMItCsTD72XFXLM4FgzJ4555CUCXBf5/tcKpS2xT8qV8QDr8oLKA18sQxWp8BMPrNp0epmwun/gwgxoyQrJUB5YgZQJBAOiVXHiTnc3KwvIkdOEPmlfePFnkD4zzcv2UwTlHWgCyM/L8SCAFclXmSiJfKSZZS7o0kIeJJ6xe3Mf4/HSlhdMCQQCnTow+TnlEhDTPtWa+TUgzOys83Q/VLikqKmDzkWJ7I12+WX6AbxxEHLD+THn0JGrlvzTEIZyCe0sjQy4LzQNzAkEAr2SjfVJkuGJlrNENSwPHMugmvusbRwH3/38ET7udBdVdE6poga1Z0al+0njMwVypnNwy+eLWhkhrWmpLh3OjfQJAI3BV8JS6xzKh5SVtn/3Kv19XJ0tEIUnn2lCjvLQdAixZnQpj61ydxie1rggRBQ/5vLSlvq3H8zOelNeUF1fT1QJADNo+tkHVXLY9H2kdWFoYTvuLexHAgrsnHxONOlSA5hcVLd1B3p9utOt3QeDf6x2i1lqhTH2w8gzjvsnx13tWqg=="/><br>
    <input id="secretput" type="button" value="submit">
    <script>
        $('#secretput').on('click', function () {
            var data = setData(this);
            $.ajax({
                url: $.url('/secret'),
                data: data,
                type: 'put',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户密钥查看 /secret get</label><br><br>
<form action="action">
    <input id="secretget" type="button" value="submit">
    <script>
        $('#secretget').on('click', function () {
            $.ajax({
                url: $.url('/secret'),
                data: makeSign({}),
                type: 'get',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>
<label class="merchant">商户密钥删除 /secret delete</label><br><br>
<form action="action">
    <input id="secretdelete" type="button" value="submit">
    <script>
        $('#secretdelete').on('click', function () {
            $.ajax({
                url: $.url('/secret'),
                data: makeSign({}),
                type: 'delete',
                dataType: 'json',
                success: function (re) {
                    console.log(re);
                }
            });
        });
    </script>
</form>
<hr>

